<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidwebviewdemo.mddemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name=" android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/app_style">
        <activity android:name="com.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidwebviewdemo.mddemo.PaletteActivity" />
        <activity android:name="com.androidwebviewdemo.mddemo.ZActivity" />
        <activity android:name="com.androidwebviewdemo.mddemo.TintingActivity" />
        <activity android:name="com.androidwebviewdemo.mddemo.ClipingActivity" />
        <activity android:name="com.myrecyclerview.RecyclerView_CardViewActivity" />
        <activity android:name="com.androidwebviewdemo.mddemo.SecondActivity" />
        <activity android:name="com.androidwebviewdemo.mddemo.TransitionsActivity" />
        <activity android:name="com.androidwebviewdemo.mddemo.RippleAcitvity" />
        <activity android:name="com.androidwebviewdemo.mddemo.Circle_Reveal_Activity" />
        <activity android:name="com.androidwebviewdemo.mddemo.Change_Animation_Activity" />
        <activity android:name="com.mvp.view.UserActivity" />
        <activity
            android:name="com.meterial_design.DrawerLayoutActivity"
            android:theme="@style/StatusBarAppTheme" />
        <activity android:name="com.touchRightLef.TouchRightLeftActivity" />
        <activity android:name="com.designer.DesignerModeActivity" />
        <activity android:name="com.sigleThreadDownloadFile.DownloaderFileActivity" />
        <activity android:name="com.mutiThreadsDownloadFile.MutiThreadsDownloadFileActivity" />
        <activity android:name="com.permissionRequest_6.PerssionRequestTestActivity" />
        <activity android:name="com.numberRunner.NumberRunnerMainActivity" />
        <!-- 服务 -->
        <service android:name="com.sigleThreadDownloadFile.services.DownLoadService" />
        <service android:name="com.mutiThreadsDownloadFile.services.MutThreadsDownLoadService" />

        <activity android:name="com.designer.watchMode.WatchModeActivity" />
        <activity android:name="com.exceptionCatch.ExceptionCatchActivity" />
        <activity android:name="com.myrecyclerview.NotificationActivity" />
        <activity android:name="com.takePhotoWithPerssion.TakePhotoWithPerssionActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59f99ca98f4a9d6911000016"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0996dc191d3aa2725132dfa3fc8f2c57"/>

        <activity android:name="com.BRAVHAdapter.BRAVHAdapterActivity" />
        <activity android:name="com.mengban.MengBanActivity" />
        <activity android:name="com.CommonActivities.ClearCacheActivity" />
        <activity android:name="com.titlebarAlpha.TitleBarAlphaActivity" />
        <activity android:name="com.CommonActivities.HeaderZoomActivity" />
        <activity android:name="com.meterial_design.ScrollingActivity" />
        <activity android:name="com.meterial_design.SumMDActivity" />
        <activity android:name="com.meterial_design.CoordinatorActivity" />
        <activity android:name="com.meterial_design.CoorAppBarActivity" />
        <activity android:name="com.meterial_design.CoorToolBarActivity" />
        <!-- android:theme="@style/StatusBarAppTheme" -->
        <activity android:name="com.meterial_design.StatusBarActivity" />
        <activity android:name="com.tracedraw.TraceDrawActivity" />
        <activity android:name="com.CommonActivities.BarChartViewActivity" />
        <activity android:name="com.CommonActivities.FontActivity" />
        <activity android:name="com.CommonActivities.ClickBtnActivity" />
        <activity android:name="com.CommonActivities.ImageScaleTypeActivity" />
        <activity android:name="com.CommonActivities.LargeImageActivity" />
        <activity android:name="com.CommonActivities.ScrollerActivity" />
        <activity android:name="com.showCase.ShowCaseActivity" />
        <activity android:name="com.CommonActivities.MiddlSelectedActivity" />
        <activity android:name="com.CommonActivities.BadgeNumberActivity" />
        <activity android:name="com.CommonActivities.DurationActivity" />
        <activity android:name="com.timercountdown.TimeActivity" />
        <activity android:name="com.CommonActivities.SuperEditTextActivity" />
        <activity android:name="com.widget.drag_recyclerview.DragRecyclerViewActivity" />
        <activity android:name="com.CommonActivities.EditMenuActivity" />
        <activity android:name="com.CommonActivities.TotalMenuActivity" />
        <activity android:name="com.CommonActivities.BaseActivity"></activity>
    </application>

</manifest>