<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/app_style">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".androidwebviewdemo.mddemo.PaletteActivity" />
        <activity android:name=".androidwebviewdemo.mddemo.ZActivity" />
        <activity android:name=".androidwebviewdemo.mddemo.TintingActivity" />
        <activity android:name=".androidwebviewdemo.mddemo.ClipingActivity" />
        <activity android:name=".myrecyclerview.RecyclerView_CardViewActivity" />
        <activity android:name=".androidwebviewdemo.mddemo.SecondActivity" />
        <activity android:name=".androidwebviewdemo.mddemo.TransitionsActivity" />
        <activity android:name=".androidwebviewdemo.mddemo.RippleAcitvity" />
        <activity android:name=".androidwebviewdemo.mddemo.Circle_Reveal_Activity" />
        <activity android:name=".androidwebviewdemo.mddemo.Change_Animation_Activity" />
        <activity android:name=".mvp.view.UserActivity" />
        <activity
            android:name=".meterial_design.DrawerLayoutActivity"
            android:theme="@style/StatusBarAppTheme" />
        <activity android:name=".touchRightLef.TouchRightLeftActivity" />
        <activity android:name=".designer.DesignerModeActivity" />
        <activity android:name=".sigleThreadDownloadFile.DownloaderFileActivity" />
        <activity android:name=".mutiThreadsDownloadFile.MutiThreadsDownloadFileActivity" />
        <activity android:name=".permissionRequest_6.PerssionRequestTestActivity" />
        <activity android:name=".numberRunner.NumberRunnerMainActivity" />
        <!-- 服务 -->
        <service android:name=".sigleThreadDownloadFile.services.DownLoadService" />
        <service android:name=".mutiThreadsDownloadFile.services.MutThreadsDownLoadService" />

        <activity android:name=".designer.watchMode.WatchModeActivity" />
        <activity android:name=".exceptionCatch.ExceptionCatchActivity" />
        <activity android:name=".myrecyclerview.NotificationActivity" />
        <activity android:name=".takePhotoWithPerssion.TakePhotoWithPerssionActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".BRAVHAdapter.BRAVHAdapterActivity" />
        <activity android:name=".mengban.MengBanActivity" />
        <activity android:name=".CommonActivities.ClearCacheActivity" />
        <activity android:name=".titlebarAlpha.TitleBarAlphaActivity" />
        <activity android:name=".CommonActivities.HeaderZoomActivity" />
        <activity android:name=".meterial_design.ScrollingActivity" />
        <activity android:name=".meterial_design.SumMDActivity" />
        <activity android:name=".meterial_design.CoordinatorActivity" />
        <activity android:name=".meterial_design.CoorAppBarActivity" />
        <activity android:name=".meterial_design.CoorToolBarActivity" />
        <!-- android:theme="@style/StatusBarAppTheme" -->
        <activity android:name=".meterial_design.StatusBarActivity" />
        <activity android:name=".tracedraw.TraceDrawActivity" />
        <activity android:name=".CommonActivities.BarChartViewActivity" />
        <activity android:name=".CommonActivities.FontActivity" />
        <activity android:name=".CommonActivities.ClickBtnActivity" />
        <activity android:name=".CommonActivities.ImageScaleTypeActivity" />
        <activity android:name=".CommonActivities.LargeImageActivity" />
        <activity android:name=".CommonActivities.ScrollerActivity" />
        <activity android:name=".showCase.ShowCaseActivity"></activity>
    </application>

</manifest>