<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidwebviewdemo.mddemo">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 锁屏权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="com.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/app_style">
        <activity android:name="com.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PaletteActivity" />
        <activity android:name=".ZActivity" />
        <activity android:name=".TintingActivity" />
        <activity android:name=".ClipingActivity" />
        <activity android:name="com.myrecyclerview.RecyclerView_CardViewActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".TransitionsActivity" />
        <activity android:name=".RippleAcitvity" />
        <activity android:name=".Circle_Reveal_Activity" />
        <activity android:name=".Change_Animation_Activity" />
        <activity android:name="com.mvp.view.UserActivity" />
        <activity
            android:name="com.meterial_design.DrawerLayoutActivity"
            android:theme="@style/StatusBarAppTheme" />
        <activity android:name="com.touchRightLef.TouchRightLeftActivity" />
        <activity android:name="com.designer.DesignerModeActivity" />
        <activity android:name="com.sigleThreadDownloadFile.DownloaderFileActivity" />
        <activity android:name="com.mutiThreadsDownloadFile.MutiThreadsDownloadFileActivity" />
        <activity android:name="com.permissionRequest_6.PerssionRequestTestActivity" />
        <activity android:name="com.numberRunner.NumberRunnerMainActivity" />
        <!-- 服务 -->
        <service android:name="com.sigleThreadDownloadFile.services.DownLoadService" />
        <service android:name="com.mutiThreadsDownloadFile.services.MutThreadsDownLoadService" />

        <activity android:name="com.designer.watchMode.WatchModeActivity" />
        <activity android:name="com.exceptionCatch.ExceptionCatchActivity" />
        <activity android:name="com.myrecyclerview.NotificationActivity" />
        <activity android:name="com.takePhotoWithPerssion.TakePhotoWithPerssionActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59f99ca98f4a9d6911000016" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0996dc191d3aa2725132dfa3fc8f2c57" />

        <activity android:name="com.BRAVHAdapter.BRAVHAdapterActivity" />
        <activity android:name="com.mengban.MengBanActivity" />
        <activity android:name="com.commonActivities.ClearCacheActivity" />
        <activity android:name="com.titlebarAlpha.TitleBarAlphaActivity" />
        <activity android:name="com.commonActivities.HeaderZoomActivity" />
        <activity android:name="com.meterial_design.ScrollingActivity" />
        <activity android:name="com.meterial_design.SumMDActivity" />
        <activity android:name="com.meterial_design.CoordinatorActivity" />
        <activity android:name="com.meterial_design.CoorAppBarActivity" />
        <activity android:name="com.meterial_design.CoorToolBarActivity" />
        <!-- android:theme="@style/StatusBarAppTheme" -->
        <activity android:name="com.meterial_design.StatusBarActivity" />
        <activity android:name="com.tracedraw.TraceDrawActivity" />
        <activity android:name="com.commonActivities.BarChartViewActivity" />
        <activity android:name="com.commonActivities.FontActivity" />
        <activity android:name="com.commonActivities.ClickBtnActivity" />
        <activity android:name="com.commonActivities.ImageScaleTypeActivity" />
        <activity android:name="com.commonActivities.LargeImageActivity" />
        <activity android:name="com.commonActivities.ScrollerActivity" />
        <activity android:name="com.showCase.ShowCaseActivity" />
        <activity android:name="com.commonActivities.MiddlSelectedActivity" />
        <activity android:name="com.commonActivities.BadgeNumberActivity" />
        <activity android:name="com.commonActivities.DurationActivity" />
        <activity android:name="com.timercountdown.TimeActivity" />
        <activity android:name="com.commonActivities.SuperEditTextActivity" />
        <activity android:name="com.widget.drag_recyclerview.DragRecyclerViewActivity" />
        <activity android:name="com.commonActivities.EditMenuActivity" />
        <activity android:name="com.commonActivities.TotalMenuActivity" />
        <activity android:name="com.commonActivities.BaseActivity" />

        <service
            android:name="com.lockscreen.LockScreenService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.lockscreen.LockMainActivity" />
        <activity android:name="com.commonActivities.CityPickerActivity"></activity>
    </application>

</manifest>